root = true  # Применять настройки ко всем файлам в проекте

[*]          # Настройки для всех файлов
charset = utf-8
indent_style = tab  # Использовать табы (или space для пробелов)
indent_size = 4     # Ширина отступа = 4 символа
end_of_line = lf    # Перенос строк в стиле Unix (\n)
trim_trailing_whitespace = true  # Удалять пробелы в конце строк
insert_final_newline = true      # Добавлять пустую строку в конце файла

[*.md]       # Особые правила для Markdown-файлов
trim_trailing_whitespace = false  # Не удалять пробелы (важно для MD)